extends navbar

block content
    .card.file-form(ng-controller="bitacora", ng-init="getBitacora()")
        .card-body
            .etl-dir
                h4.card-title Cliente
                table.table.table-striped
                    thead
                        tr
                            th Tipo
                            th Mensaje
                            th Fecha
                    tbody
                        tr(ng-if="carga")
                            td
                            td
                                h4 Cargando... 
                            td
                        tr(ng-repeat="result in results")
                            td {{result.archivo}}
                            td {{result.mensaje}}
                            td {{result.created_at | date : format : short}}                      

                br
                br

block styles
    link(rel='stylesheet', type='text/css', href='/stylesheets/fileForms.css')

block scripts
    script(src='/javascripts/bitacoraLogic.js')