extends navbar

block content
    .card.file-form(ng-controller="operaciones", ng-init="getRules()")
        .card-body
            //h2 Ejecutar Reglas
            //br
            //.row
            //    button.btn.btn-info Ejecutar Reglas
            //    br
            //    br
            //    h2(ng-if="cargaETL") Cargando...
            //br
            .row
                .col-sm(ng-repeat="validacion in validaciones")
                    h2.card-title {{validacion.nombre_validacion}}
                    br
                    #accordion
                        .card(ng-repeat="regla_general in reglas_general", ng-if="validacion.idTipo_validacion === regla_general.tipo_de_transaccion_idtipo")
                            .card-header(id="{{regla_general.idregla}}")
                                h5.mb-0
                                button.btn.btn-link(data-toggle='collapse', data-target='#target_{{regla_general.idregla}}', aria-expanded='true', aria-controls='collapseOne')
                                    | {{regla_general.regla}}
                            .collapse(aria-labelledby='{{regla_general.idregla}}', id='target_{{regla_general.idregla}}', data-parent='#accordion')
                                .card-body
                                    ul
                                        li(ng-repeat="rango in regla_general.rangos")
                                            .form-group
                                                label( for="rango.Valor" ) {{rango.Limitador}}:
                                                input.form-control( type="text", ng-model="rango.Valor", id="rango.Valor", placeholder="Nombre validacion")
                                    button.btn.btn-warning(ng-click="cambiarRangos(regla_general)") Cambiar valores
                    br
                    br
                    button.btn.btn-primary(ng-click="rubro[validacion.id]=!rubro[validacion.id]") Agregar rubro
                    form.custom-file(ng-show="rubro[validacion.id]", ng-submit="add_rubro(validacion)")
                        .form-group
                            label( for="validacion.new.nombre" ) Nombre:
                            input.form-control( type="text", ng-model="validacion.new.nombre", id="validacion.new.nombre", placeholder="Nombre validacion")
                        .form-group
                            label( for="validacion.new.bajo" ) Valor Bajo:
                            input.form-control( type="text", ng-model="validacion.new.bajo", id="validacion.new.bajo", placeholder="Nombre validacion")
                        .form-group
                            label( for="validacion.new.medio" ) Valor Medio:
                            input.form-control( type="text", ng-model="validacion.new.medio", id="validacion.new.medio", placeholder="Nombre validacion")
                        .form-group
                            label( for="validacion.new.alto" ) Valor Alto:
                            input.form-control( type="text", ng-model="validacion.new.alto", id="validacion.new.alto", placeholder="Nombre validacion")
                        .form-group
                            label( for="validacion.new.giro" ) Giro:
                            select.form-control.form-control-lg(id="validacion.new.giro", ng-model="validacion.new.giro")
                                option(ng-repeat="giro in giros", value="{{giro.idGiros}}") {{giro.Giro}}
                        .form-group
                            label( for="validacion.new.giro" ) Hoja:
                            select.form-control.form-control-lg(id="validacion.new.hoja", ng-model="validacion.new.hoja")
                                option(ng-repeat="hoja in hojas", value="{{hoja.idReglas_estaticas}}") {{hoja.Metodo}}
                        br
                        br
                        button.btn.btn-primary(type="submit") Agregar
                    
            br
            br
            button.btn.btn-danger(style="float: right !important;", ng-click="regla_new=!regla_new") Agregar regla
            br
            br
            .col-sm
                form.custom-file(ng-show="regla_new", ng-submit="add_regla()")
                    .form-group
                        label( for="regla_new_nombre" ) Nombre validacion
                        input.form-control( type="text", ng-model="regla_new_nombre", id="regla_new_nombre", placeholder="Nombre validacion")
                    .form-group
                        label( for="regla_new_tipo" ) Tipo
                        input.form-control( type="text", ng-model="regla_new_tipo", id="regla_new_tipo", placeholder="Tipo")
                    br
                    button.btn.btn-danger(type="submit") Agregar
            br
            br
            br

block styles
    link(rel='stylesheet', type='text/css', href='/stylesheets/fileForms.css')

block scripts
    script(src='/javascripts/operationsLogic.js')