@media screen and (max-width: 800px) {
    .card-form {
        width: 90%;
        margin: auto;
    }
}

@media screen and (min-width: 800px) {
    .card-form{
        width: 72%;
        margin: auto;
        min-width: 750px;
    }
}

.card-form{
    border-radius: 10px;
}